@page "/Portal/DetalhesInstituicao/{id:int}"
@using HackatonInovaUniEGov.Shared.Layouts
@using HackatonInovaUniEGov.Data
@using HackatonInovaUniEGov.Models
@using Microsoft.EntityFrameworkCore
@layout PortalLayout
@inject NavigationManager Navigation
@inject ApplicationContext Context
<div class="w-full flex flex-col">
    <img class="w-11/12 self-center mx-2 mt-8 rounded-lg h-96 " src="@ServicoPublico.ImageUrl">
    
    
    <RadzenButton class="m-4 w-2/12 py-4 self-center inter-family"  Click="Avaliar" Text="Avaliar" ButtonStyle="ButtonStyle.Primary"/>
    
    
    <div class="w-full p-4" style="background-color: #2e5790">
        <h2 class="text-2xl text-center text-white inter-family">@ServicoPublico.Nome</h2>
   
        <div class="flex flex-col w-full my-4">
            <div class="flex flex-row justify-between">
                
                <div class="flex flex-col ">
                    <div style="background-color: #214266" class="w-96 mb-auto p-4 flex flex-col items-center justify-center rounded-lg shadow self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Pontos por avaliar</h3>
                        <div class="rounded-full bg-yellow-500 h-16 w-16 flex flex-col items-center justify-center "> 
                            
                        <RadzenIcon class="text-white " Size="36px" Icon="emoji_events" />
                        </div>
                        <p class="text-white inter-family text-xl">@ServicoPublico.PontosPorAvaliar pontos</p>  
                        </div>
                    
                 
                                    
                    @* <div style="background-color: #214266" class="w-96 mb-auto h-32 rounded-lg shadow self-center"> *@
                                    @*     <h3 class="text-white text-center my-4 inter-family text-2xl">Quantidade de avaliações</h3> *@
                                    @* *@
                                    @* </div> *@
                                    
                                </div>
                
                <div style="background-color: #214266" class="w-96 h-96 rounded-lg flex flex-col shadow self-center">
                    <h3 class="text-white text-center mt-8 inter-family text-2xl">Avaliação Geral</h3>
                    <p class="text-white text-center  inter-family text-6xl my-auto">
                    @(ServicoPublico.Questionarios.Count>0? ServicoPublico.Questionarios.Average(x=>x.AvaliacaoMedia):0)
                        
                    </p>
                </div>
                
                <div class="flex flex-col ">
                     @* <div style="background-color: #214266" class="w-96 mb-auto h-32 rounded-lg shadow self-center"> *@
                     @*                        <h3 class="text-white text-center my-4 inter-family text-2xl">Pontos por avaliar</h3> *@
                     @* *@
                     @*                    </div> *@
                    
                    <div style="background-color: #214266" class="w-96 mb-auto p-4  rounded-lg shadow flex flex-col justify-center items-center self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Quantidade de avaliações</h3>
                      <div class="rounded-full bg-yellow-500 h-16 w-16 flex flex-col items-center justify-center "> 
                                                  
                                              <RadzenIcon class="text-white " Size="36px" Icon="insights" />
                                              </div>
                        <p class="text-white inter-family text-xl">@ServicoPublico.Questionarios.Count avaliações</p>  
                    
                    </div>
                    
                </div>
                
            
                
            </div>
                
                <div class="flex flex-row justify-between my-4">

                <div style="background-color: #214266" class="w-96 h-96 rounded-lg items-center flex flex-col shadow self-center">
                    <h3 class="text-white text-center mt-4 inter-family text-2xl mb-auto">Tempo de atendimento</h3>
                    
                    <div class="flex items-center inter-family text-white items-center text-4xl mb-auto flex-col ">
                                                                                  <img src="@buscaImagemAvaliacao(40)" class="w-36 "/>
                                                                                  <p class="mt-4">40/100</p>
                                                                              </div>
                </div>

                <div style="background-color: #214266" class="w-96 h-96 rounded-lg  flex flex-col   items-center shadow self-center">
                    <h3 class="text-white text-center mt-4 mb-auto inter-family text-2xl">Eficiência de Processos</h3>
                    
                    <div class="flex items-center inter-family text-white items-center text-4xl mb-auto flex-col ">
                                                              <img src="@buscaImagemAvaliacao(80)" class="w-36 "/>
                                                              <p class="mt-4">80/100</p>
                                                          </div>
                </div>

                <div style="background-color: #214266" class="w-96 h-96 rounded-lg  flex flex-col  items-center shadow self-center">
                    <h3 class="text-white text-center mt-4 mb-auto inter-family text-2xl">Transparencia</h3>
                    <div class="flex items-center inter-family text-white items-center text-4xl mb-auto flex-col ">
                                                              <img src="@buscaImagemAvaliacao(60)" class="w-36 "/>
                                                              <p class="mt-4">60/100</p>
                                                          </div>
                </div>
            </div>

            <div class="flex flex-row justify-between">

                <div class="flex flex-col justify-evenly">

                    <div style="background-color: #214266" class="w-96 h-32 rounded-lg flex flex-col items-center justify-center shadow self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Resolução de Problemas</h3>
                         <RadzenRating @bind-Value=@limpezaManutencao ReadOnly=true />

                    </div>

                    <div style="background-color: #214266" class="w-96 h-32 rounded-lg flex flex-col items-center justify-center shadow self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Qualidade do Atendimento</h3>
                         <RadzenRating @bind-Value=@limpezaManutencao ReadOnly=true />

                    </div>
                </div>

                <div style="background-color: #214266" class="w-96 h-96 rounded-lg flex flex-col items-center shadow self-center">
                    <h3 class="text-white text-center mt-4 mb-auto inter-family text-2xl">Satisfação com serviços online</h3>
              <div class="flex items-center inter-family text-white items-center text-4xl mb-auto flex-col ">
                                          <img src="@buscaImagemAvaliacao(30)" class="w-36 "/>
                                          <p class="mt-4">30/100</p>
                                      </div>
                    </div>

                <div class="flex flex-col justify-evenly">

                    <div style="background-color: #214266" class="w-96 h-32 rounded-lg flex flex-col items-center justify-center shadow self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Segurança</h3>
                         <RadzenRating @bind-Value=@limpezaManutencao ReadOnly=true />

                    </div>

                    <div style="background-color: #214266" class="w-96 h-32 rounded-lg flex flex-col items-center justify-center shadow self-center">
                        <h3 class="text-white text-center my-4 inter-family text-2xl">Limpeza e Manutenção</h3>
                         <RadzenRating @bind-Value=@limpezaManutencao ReadOnly=true />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="flex flex-col my-8">
        
        <h2 class="text-2xl text-center text-black inter-family my-4">Avaliações</h2>
        <div class="flex flex-row  justify-evenly p-4 w-11/12 self-center rounded-lg gap-4 flex-wrap bg-sky-100">
            @if (ServicoPublico.Questionarios.Count == 0)
            {
                <p>Parece que não temos nada aqui</p>
            }
            else
            {
                
            @foreach (var questionario in ServicoPublico.Questionarios)
            {
                <div class="bg-white w-80 shadow rounded-lg border">
                    <div class="flex flex-row  p-4">
                        <div class="w-16 h-16 bg-black mr-4 rounded-full"></div>
                        <div class="flex flex-col">
                            <div class="flex items-center justify-between flex-row">
                                <h3>@questionario.Usuario.Nome</h3>
                                <img src="images/aspas.svg"/>
                            </div>

                            <div class="flex flex-row items-center justify-center">
                                <h3 class="mt-2 mr-4">@questionario.AvaliacaoMedia</h3>
                                <RadzenRating Readonly=@true @bind-Value=@questionario.AvaliacaoMedia />
                                
                            </div>
                        </div>
                    </div>
                    <div class="px-4 pt pb-4 overflow-y-auto h-56">
                        <p style="font-family: 'Montserrat', sans-serif;">Lorem Ipsum</p>
                    </div>
                </div>
            }
            }

        </div>
    </div>
    
    

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private int limpezaManutencao { get; set; } = 4;
    
    private int value { get; set; } = 4;
    private ServicoPublico ServicoPublico = new ServicoPublico
    {
        Questionarios = new List<Questionario>
        {
            new Questionario
            {
                Usuario = {}
            }
        }
    };

    private void Avaliar()
    {
        Navigation.NavigateTo("/Portal/FormularioAvaliacaoInstituicao/" + this.Id);
    }
    
    protected  override async Task OnInitializedAsync()
    {
        QueryData();
    }

    private void QueryData()
    {
        var data = Context.ServicosPublicos.Include(x=>x.Questionarios).ThenInclude(y=>y.Usuario).FirstOrDefault(x => x.Id == Id);
        if (data != null)
        {
            ServicoPublico = data;
        }

    }

    private string buscaImagemAvaliacao(int avaliacao)
    {
        if (avaliacao <= 30)
        {
            return "/images/avaliacao_ruim.svg";
        }

        if (avaliacao > 30 && avaliacao < 70)
        {
            return "/images/avaliacao_media.svg";

        }
        return "/images/avaliacao_bom.svg";

    }

}